# =========================
# Entornos virtuales
# =========================
venv/
.env/

# =========================
# Archivos de Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Bases de datos SQLite
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# Archivos temporales / logs
# =========================
*.log
*.tmp

# =========================
# Archivos generados
# =========================
*.pdf

# =========================
# Configuración de editores
# =========================
.vscode/

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db
